{
  "openapi": "3.0.1",
  "info": {
    "title": "Fipe API",
    "description": "API de Consulta Tabela FIPE fornece preços médios de veículos no mercado nacional. Atualizada mensalmente com dados extraidos da tabela FIPE. \n\n Essa API Fipe utiliza banco de dados próprio, onde todas as requisições acontecem internamente, sem sobrecarregar o Web Service da Fipe, evitando assim bloqueios por múltiplos acessos. \n\n A API está online desde 2015 e totalmente gratuíta. Gostaria que ele continuasse gratuíta? O que acha de me pagar uma cerveja? 🍺 \n\n [![Make a donation](https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif)](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QUPMYWH6XAC5G) \n ### Fipe API SDKs\n - [Fipe Go SDK](https://pkg.go.dev/github.com/parallelum/fipe-go)\n - [Fipe .NetCore Nuget SDK](https://www.nuget.org/packages/Br.Com.Parallelum.Fipe/)\n - [Fipe Javascript SDK](https://github.com/deividfortuna/fipe-promise)\n ",
    "contact": {
      "name": "Deivid Fortuna",
      "email": "deividfortuna@gmail.com",
      "url": "https://github.com/deividfortuna/fipe"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/deividfortuna/fipe/blob/master/LICENSE.md"
    },
    "version": "2.0.0"
  },
  "externalDocs": {
    "description": "Read more about FIPE API",
    "url": "https://github.com/deividfortuna/fipe"
  },
  "servers": [
    {
      "url": "https://parallelum.com.br/fipe/api/v2"
    },
    {
      "url": "http://parallelum.com.br/fipe/api/v2"
    }
  ],
  "tags": [
    {
      "name": "Fipe"
    }
  ],
  "paths": {
    "/references": {
      "get": {
        "tags": [
          "Fipe"
        ],
        "summary": "Fipe month references",
        "description": "Returns months and codes reference from Fipe",
        "operationId": "GetReferences",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Reference"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {}
          }
        }
      }
    },
    "/{vehicleType}/brands": {
      "get": {
        "tags": [
          "Fipe"
        ],
        "summary": "Brands by type",
        "description": "Returns brands for the type of vehicle",
        "operationId": "GetBrandsByType",
        "parameters": [
          {
            "name": "vehicleType",
            "in": "path",
            "description": "Type of vehicle",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/VehiclesType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NamedCode"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {}
          }
        }
      }
    },
    "/{vehicleType}/brands/{brandId}/models": {
      "get": {
        "tags": [
          "Fipe"
        ],
        "summary": "Models by brand",
        "description": "Returns models for the brand",
        "operationId": "GetModelsByBrand",
        "parameters": [
          {
            "name": "vehicleType",
            "in": "path",
            "description": "Type of vehicle",
            "required": true,
            "example": "cars",
            "schema": {
              "$ref": "#/components/schemas/VehiclesType"
            }
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "Brand of the vehicle",
            "required": true,
            "example": 59,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NamedCode"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {}
          }
        }
      }
    },
    "/{vehicleType}/brands/{brandId}/models/{modelId}/years": {
      "get": {
        "tags": [
          "Fipe"
        ],
        "summary": "Years by model",
        "description": "Returns years for the specific model",
        "operationId": "GetYearByModel",
        "parameters": [
          {
            "name": "vehicleType",
            "in": "path",
            "description": "Type of vehicle",
            "required": true,
            "example": "cars",
            "schema": {
              "$ref": "#/components/schemas/VehiclesType"
            }
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "Brand of the vehicle",
            "required": true,
            "example": 59,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modelId",
            "in": "path",
            "description": "Model of the vehicle",
            "required": true,
            "example": 5940,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NamedCode"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {}
          }
        }
      }
    },
    "/{vehicleType}/brands/{brandId}/models/{modelId}/years/{yearId}": {
      "get": {
        "tags": [
          "Fipe"
        ],
        "summary": "Fipe info",
        "description": "Returns the Fipe information for the vehicle (price estimation)",
        "operationId": "GetFipeInfo",
        "parameters": [
          {
            "name": "vehicleType",
            "in": "path",
            "description": "Type of vehicle",
            "required": true,
            "example": "cars",
            "schema": {
              "$ref": "#/components/schemas/VehiclesType"
            }
          },
          {
            "name": "brandId",
            "in": "path",
            "description": "Brand of the vehicle",
            "required": true,
            "example": 59,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modelId",
            "in": "path",
            "description": "Model of the vehicle",
            "required": true,
            "example": 5940,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "yearId",
            "in": "path",
            "description": "Year for the vehicle",
            "required": true,
            "example": "2014-3",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Month reference code",
            "example": "278",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "required": true,
                  "$ref": "#/components/schemas/FipeResult"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {}
          }
        }
      }
    },
    "/{vehicleType}/{fipeCode}/years": {
      "get": {
        "tags": [
          "Fipe"
        ],
        "summary": "Years by Fipe code",
        "description": "Returns years available for vehicle by fipe code",
        "operationId": "GetYearsByFipeCode",
        "parameters": [
          {
            "name": "vehicleType",
            "in": "path",
            "description": "Type of vehicle",
            "required": true,
            "example": "cars",
            "schema": {
              "$ref": "#/components/schemas/VehiclesType"
            }
          },
          {
            "name": "fipeCode",
            "in": "path",
            "description": "Fipe internal reference code",
            "required": true,
            "example": "004278-1",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "required": true,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NamedCode"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {}
          }
        }
      }
    },
    "/{vehicleType}/{fipeCode}/years/{yearId}": {
      "get": {
        "tags": [
          "Fipe"
        ],
        "summary": "Fipe info by Fipe code",
        "description": "Returns the Fipe information for the vehicle (price estimation)",
        "operationId": "GetInfoByFipeCode",
        "parameters": [
          {
            "name": "vehicleType",
            "in": "path",
            "description": "Type of vehicle",
            "required": true,
            "example": "cars",
            "schema": {
              "$ref": "#/components/schemas/VehiclesType"
            }
          },
          {
            "name": "fipeCode",
            "in": "path",
            "description": "Fipe internal reference code",
            "required": true,
            "example": "004278-1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "yearId",
            "in": "path",
            "description": "Year for the vehicle",
            "required": true,
            "example": "2005-1",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "required": true,
                  "$ref": "#/components/schemas/FipeResult"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {}
          }
        }
      }
    },
    "/{vehicleType}/{fipeCode}/years/{yearId}/history": {
      "get": {
        "tags": [
          "Fipe"
        ],
        "summary": "Fipe price history by Fipe code",
        "description": "Returns the price history for the vehicle (price estimation)",
        "operationId": "GetHistoryByFipeCode",
        "parameters": [
          {
            "name": "vehicleType",
            "in": "path",
            "description": "Type of vehicle",
            "required": true,
            "example": "cars",
            "schema": {
              "$ref": "#/components/schemas/VehiclesType"
            }
          },
          {
            "name": "fipeCode",
            "in": "path",
            "description": "Fipe internal reference code",
            "required": true,
            "example": "004278-1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "yearId",
            "in": "path",
            "description": "Year for the vehicle",
            "required": true,
            "example": "2005-1",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "required": true,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FipeHistoryResult"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {}
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VehiclesType": {
        "type": "string",
        "enum": [
          "cars",
          "motorcycles",
          "trucks"
        ]
      },
      "FipeResult": {
        "type": "object",
        "properties": {
          "price": {
            "type": "string",
            "description": "Price in Brazilian Real"
          },
          "brand": {
            "type": "string",
            "description": "Brand of the vehicle"
          },
          "model": {
            "type": "string",
            "description": "Model of the vehicle"
          },
          "modelYear": {
            "type": "integer",
            "format": "int32",
            "description": "Year of vehicle production"
          },
          "fuel": {
            "type": "string",
            "description": "Fuel used by the vehicle"
          },
          "codeFipe": {
            "type": "string",
            "description": "Unique Fipe identifier"
          },
          "referenceMonth": {
            "type": "string",
            "description": "Month of the price"
          },
          "vehicleType": {
            "type": "integer",
            "format": "int32",
            "description": "Type of the vehicle"
          },
          "fuelAcronym": {
            "type": "string",
            "description": "Fuel acronym (eg. G)"
          }
        }
      },
      "NamedCode": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "Reference": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "month": {
            "type": "string"
          }
        }
      },
      "FipeHistoryResult": {
        "type": "object",
        "properties": {
          "brand": {
            "type": "string",
            "description": "Brand of the vehicle"
          },
          "model": {
            "type": "string",
            "description": "Model of the vehicle"
          },
          "modelYear": {
            "type": "integer",
            "format": "int32",
            "description": "Year of vehicle production"
          },
          "fuel": {
            "type": "string",
            "description": "Fuel used by the vehicle"
          },
          "codeFipe": {
            "type": "string",
            "description": "Unique Fipe identifier"
          },
          "vehicleType": {
            "type": "integer",
            "format": "int32",
            "description": "Type of the vehicle"
          },
          "fuelAcronym": {
            "type": "string",
            "description": "Fuel acronym (eg. G)"
          },
          "priceHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoryEntry"
            }
          }
        }
      },
      "HistoryEntry": {
        "type": "object",
        "properties": {
          "price": {
            "type": "string"
          },
          "month": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        }
      }
    }
  }
}