.accordion-button {
  background-color: #FFF;
}

.accordion-heade {
  background-color: red;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: #eae8e8bc;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
  color: #0c63e4;
}

h6 {
  color: #67748e;
}
