.accordion-button {
  background-color: #FFF;
}

.accordion-heade {
  background-color: red;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: #eae8e8bc;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

h6 {
  color: #67748e;
}
