<div class="container py-4 p-sm-4" style="height: calc(100vh - 160px);">
  <div id="carouselExampleIndicators" class="rounded carousel slide h-100" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner h-100">
      <div class="carousel-item h-100 active">
        <div class="card h-100 mb-3">
          <div class="w-100 bg-secondary p-4 text-white">
            <h4 class="card-title text-center">Bem vindo ao desafio Flexpag</h4>
          </div>
          <div class="card-body d-flex justify-content-between pb-5 align-items-center flex-column">
            <div class="d-flex justify-content-start align-items-center flex-column">
              <p class="card-text text-center">A proposta deste desafio é criar um projeto <strong>front-end</strong> para consulta de dados de veículos atraveis de uma <strong>Api</strong> disponibilizada pela <a href="#">Flexpag</a>.O Projeto chamado de <strong>Simulador de preço de venda de veiculos</strong>é um projeto com a finalidade de realizar comparação entre <strong>preço de venda de veículos</strong> e o <strong>preço da tabela FIPE.</strong></p>
              <img class="card-img-top" src="../../../../assets/img/flexpag.png" style="width: 12em;">
            </div>
            <h6 class="text-center">Para mais detalhes, vá para a próxima etapa.</h6>
          </div>
        </div>
      </div>
      <div class="carousel-item h-100 ">
        <div class="card h-100 mb-3">
          <div class="w-100 bg-secondary p-4 text-white">
            <h4 class="card-title text-center">Como funciona o Simulador de preço de vendas?</h4>
          </div>
          <div class="card-body d-flex justify-content-between pb-5 align-items-center flex-column">
            <div class="d-flex justify-content-start align-items-center flex-column">
              <p class="card-text text-center">
                Para consultar e calcular o <strong>preço de venda de veículos</strong>, basta selecionar o <strong>tipo de veículo</strong> (carros, motos e caminhões) em seguida selcione a <strong>marca do veículo</strong> (Ex: Ford, Chevrolet Fiat...) em seguida selecione o <strong>modelo do veículo</strong>  (Ex: Agile, Onix, Polo...) em seguida selecione o <strong>ano do veículo</strong> (Ex: 2010, 2011, 2012...) e por ultimo, digite o <strong>valor de venda do veiculo</strong>.
                Ao clicar em consultar, será mostrado os resultados do veículo infomado junto com o percentual da diferença de preço de venda e preço da tabela FIPE.
              </p>
              <img class="card-img-top my-3" src="../../../../assets/img/img1.png" style="width: 100%; max-width: 500px;">
            </div>
            <h6 class="text-center">Para mais detalhes, vá para a proxima etapa.</h6>
          </div>
        </div>
      </div>
      <div class="carousel-item h-100">
        <div class="card h-100 mb-3">
          <div class="w-100 bg-secondary p-4 text-white">
            <h4 class="card-title text-center">Como vejo os resultados da consulta?</h4>
          </div>
          <div class="card-body d-flex pb-5 align-items-center flex-column">
            <div class="d-flex justify-content-start align-items-center flex-column">
              <p class="card-text text-center">Ao clicar no botáo consulta, voçe ira receber na tela as informções do veiculo como: <strong>Marca, Modelo, Ano, Código FIPE , Valor da Tabela FIPE, valor de venda e Percentual de do valor de venda.</strong><br></p>
              <img class="card-img-top my-3" src="../../../../assets/img/img2.png" style="width: 100%; max-width: 300px;">
            </div>
            <p>Para maior entendimento do projeto, favor verificar a documentação no respositorio do <a href="https://github.com/ffernandescs/simulador-veiculo-fipe-veiculo" target="_blank">GitHub</a></p>
            <h6 class="text-center">Agora que já sabemos como funciona, então vamos começar.</h6>
            <button routerLink="/simulador" type="button" class="btn btn-primary py-2 px-4">Começar agora...</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






