<footer class="text-center text-white" style="background-color: #f1f1f1; margin-top: 4rem;">
  <div class="container pt-4">
    <section class="mb-4">
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/in/felipefcs/"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        >
          <i class="bi bi-linkedin"></i>
      </a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/ffernandescs"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        >
          <i class="bi bi-github"></i>
      </a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://api.whatsapp.com/send/?phone=5581982294247&text&type=phone_number&app_absent=0"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        >
          <i class="bi bi-whatsapp"></i>
      </a>
    </section>
  </div>
  <div class="text-center text-white p-3" style="background-color: #111B21;">
    © 2023 - Felipe Fernandes - Copyright:
    <a class="text-white" href="https://github.com/ffernandescs">github.com/ffernandescs</a>
  </div>

</footer>
