<footer
  class="text-center bg-light text-white"
  style="height: 100px;">
  <div class="container" style="height: 50%;">
    <section class="mb-4">
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/in/felipefcs/"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        >
          <i class="bi bi-linkedin"></i>
      </a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/ffernandescs"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        >
          <i class="bi bi-github"></i>
      </a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://api.whatsapp.com/send/?phone=5581982294247&text&type=phone_number&app_absent=0"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        >
          <i class="bi bi-whatsapp"></i>
      </a>
    </section>
  </div>
  <div class="text-center text-white p-3 h-35" style="background-color: #111B21; height: 50%;">
    <a class="text-white" href="https://github.com/ffernandescs" target="_blank"><p>© 2023 - Felipe Fernandes - Copyright:</p></a>
  </div>

</footer>
