.form-control, .button-control {
  border-radius: 6px;
  height: 3rem;
  outline: none;
  transition: transform 0.2s ease-in-out;
}


input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

}

input:hover {
  transform: scale(1) !important;
}

.input-group-text {
  border: none;
  border-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.form-control:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
}

.valid-feedback {
  padding-top: 0.25rem;
  font-size: 0.875rem;
  color: #198754;
}

.form-select-success.is-valid ~ .valid-feedback {
  display: block;
  animation: slide-down 0.3s ease-in-out;
}

.selected {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
}

.is-invalid {
  border: 2px solid #dc3545;
}


@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.form-control:hover {
  cursor: pointer;
}

.form-control:disabled {
  cursor: not-allowed;
  background-repeat: no-repeat;
  background-position: right center;
  transform: scale(1);
  background-color: #50469c;
  color: rgba(255, 255, 255, .27);
  border: none;
}

.btn:disabled {
  background-color: #ff7b54;
}

.btn-danger:focus {
  background-color: #ff7c54ac;
}

.btn-danger:hover {
  background-color: #ff7c54ac;
}

.btn-danger {
  background-color: #ff7b54;
  box-shadow: 0 5px 12px rgb(255 123 84 / 29%);
  animation: .3s;
  color: #FFF;
}
nav {
  overflow: hidden;
  border-radius: 6px;
  padding: 1rem;

}

li {
  width: 100%;
}


