<div class="row">
  <div class=" col-md-9 w-70">
    <div class="form-control p-0 d-flex align-items-center justify-content-between">
      <span class="input-group-text h-100">R$</span>
      <input
        type="text"
        class="form-control m-0 p-0"
        id="valor"
        placeholder="Digite o valor da venda"
        formControlName="valor"
        [ngClass]="{
          'is-valid': valorInput === '',
          'is-invalid': formEnviado && (tipo?.value ?? '') === ''}"
        required
      >
    </div>
  </div>

  <div class="col-md-3 d-flex align-items-end mt-auto">
    <button  type="reset" class="btn btn-danger form-control" [disabled]="loading">
      <span *ngIf="!loading">Limpar</span>
    </button>
  </div>

</div>
