<div class="container d-flex flex-column justify-content-around align-items-center h-100" style="z-index: 5; position: relative;">
  <div class="title">Simulador de preco tabela FIPE</div>
  <form (ngSubmit)="onFormSubmit()" [formGroup]="momentForm" class="form-group row container-fluid  p-4">
    <div class="col-md-3 my-3" *ngFor="let erro of mensagens.tipo">
      <select
        id="tipoVeiculo"
        class="form-control form-select"
        (change)="onMarcaVeiculoChange($event)"
        formControlName="tipo"
        [ngClass]="{
          'is-valid' : momentForm.get('tipo')?.valid && (momentForm.get('tipo')?.dirty || momentForm.get('tipo')?.touched),
          'is-invalid': momentForm.get('tipo')?.invalid && (momentForm.get('tipo')?.dirty || momentForm.get('tipo')?.touched)}"
      >
        <option selected value="">Selecione o Tipo</option>
        <option
          *ngFor="let listaVeiculo of listaVeiculos"
          [value]="listaVeiculo.nome">{{listaVeiculo.nome}}
        </option>
      </select>
      <div  class="validation-error">
        <span class="msg-erro" *ngIf="momentForm.get('tipo')?.invalid && (momentForm.get('tipo')?.dirty || momentForm.get('tipo')?.touched)">
          {{erro.menssagem}}
        </span>
      </div>
    </div>
    <div class="col-md-3 my-3" *ngFor="let erro of mensagens.marca">
      <select
        id="marca"
        class="form-control form-select"
        (change)="onModeloVeiculoChange($event)"
        formControlName="marca"
        [ngClass]="{
          'is-valid' : momentForm.get('marca')?.valid && (momentForm.get('marca')?.dirty || momentForm.get('marca')?.touched),
          'is-invalid': momentForm.get('marca')?.invalid && (momentForm.get('marca')?.dirty || momentForm.get('marca')?.touched)}"
      >
        <option selected value="">Selecione a Marca</option>
        <option
          *ngFor="let marca of marcas"
          [value]="marca.codigo">{{marca.nome}}
        </option>
      </select>
      <div class="validation-error">
        <span class="msg-erro" *ngIf="momentForm.get('marca')?.invalid && (momentForm.get('marca')?.dirty || momentForm.get('marca')?.touched)">
          {{erro.menssagem}}
        </span>
      </div>
    </div>
    <div class="col-md-3 my-3" *ngFor="let erro of mensagens.modelo">
      <select
        id="modelo"
        class="form-control form-select "
        (change)="onAnoVeiculoChange($event)"
        formControlName="modelo"
        [ngClass]="{
          'is-valid' : momentForm.get('modelo')?.valid && (momentForm.get('modelo')?.dirty || momentForm.get('modelo')?.touched),
          'is-invalid': momentForm.get('modelo')?.invalid && (momentForm.get('modelo')?.dirty || momentForm.get('modelo')?.touched)}"
      >
        <option selected value="">Selecione o Modelo</option>
        <option
          *ngFor="let modelo of modelos"
          [value]="modelo.codigo">{{modelo.nome}}
        </option>
      </select>
      <div class="validation-error">
        <span class="msg-erro" *ngIf="momentForm.get('modelo')?.invalid && (momentForm.get('modelo')?.dirty || momentForm.get('modelo')?.touched)">
          {{erro.menssagem}}
        </span>
      </div>
    </div>
    <div class="col-md-3 my-3" *ngFor="let erro of mensagens.ano">
      <select
        class="form-control form-select"
        (change)="onResultsVeiculoChange($event)"
        formControlName="ano"
        [ngClass]="{
          'is-valid' : momentForm.get('ano')?.valid && (momentForm.get('ano')?.dirty || momentForm.get('ano')?.touched),
          'is-invalid': momentForm.get('ano')?.invalid && (momentForm.get('ano')?.dirty || momentForm.get('ano')?.touched)}"
        >
        <option selected value="">Selecione o Ano</option>
        <option
          *ngFor="let ano of anos"
          [value]="ano.codigo">{{ano.nome}}</option>
      </select>
      <div class="validation-error">
        <span class="msg-erro" *ngIf="momentForm.get('ano')?.invalid && (momentForm.get('ano')?.dirty || momentForm.get('ano')?.touched)">
          {{erro.menssagem}}
        </span>
      </div>
    </div>
    <div class="col-md-9 my-3" *ngFor="let erro of mensagens.valor">
      <div class="d-flex">
        <div class="input-group-prepend ">
          <span class="input-group-text bg-light fw-bold h-100" id="basic-addon1">R$</span>
        </div>
        <input
            type="text"
            class="form-control my-input"
            id="valor"
            placeholder="Digite o valor da venda"
            formControlName="valor"
            [ngClass]="{
              'is-valid' : momentForm.get('valor')?.valid && (momentForm.get('valor')?.dirty || momentForm.get('valor')?.touched),
              'is-invalid': momentForm.get('valor')?.invalid && (momentForm.get('valor')?.dirty || momentForm.get('valor')?.touched)}"
          >
      </div>

        <div class="validation-error">
          <span class="msg-erro" *ngIf="momentForm.get('valor')?.invalid && (momentForm.get('valor')?.dirty || momentForm.get('valor')?.touched)">
            {{erro.menssagem}}
          </span>
        </div>
    </div>
    <div class="col-md-3 my-3">
      <button (click)="resetForm()" type="button" class="btn btn-light button-control w-100" [disabled]="disableLimpar"r>
        <span >Limpar</span>
      </button>
    </div>
    <div class="col-md-6 my-3 d-flex justify-content-center w-100">
      <button id="btnConsultar" type="submit" class="btn btn-danger button-control w-50" [disabled]="disableConsultar">
        <span *ngIf="!loading">Consultar</span>
        <span *ngIf="loading">Carregando...</span>
      </button>
    </div>
  </form>
</div>
