@import "~bootstrap-icons/font/bootstrap-icons.css";

.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  background-color: #2ECC71;
}
.card-header {
  background-color: #FFF;
  border: none;
  font-size: 1.5rem;
}

h5, h4 {
  color: #344767;
}

h6 {
  color: #67748e;
}

.arrow-icon {
  font-size: 4rem;
}
